{% block html_html %}
<!DOCTYPE html>
<html>

<head lang="en">
    {% block html_head %}

    {% block html_meta %}
    <meta charset="UTF-8">
    {% endblock html_meta %}

    <title>{% block title %}{% endblock title %}</title>

    {% block styles %}
        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP_EDITABLE or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP_EDITABLE %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP_GROWL or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP_GROWL %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP_TYPEAHEAD or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP_TYPEAHEAD %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_CSSHAKE or config.STATICS_ENABLE_RESOURCE_CSSHAKE %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_D3 or config.STATICS_ENABLE_RESOURCE_D3 %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_DATATABLES or config.STATICS_ENABLE_RESOURCE_DATATABLES %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_FONT_AWESOME or config.STATICS_ENABLE_RESOURCE_FONT_AWESOME %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_JQUERY or config.STATICS_ENABLE_RESOURCE_JQUERY %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_WHHG_FONT or config.STATICS_ENABLE_RESOURCE_WHHG_FONT %}
        {% endif %}
    {% endblock styles %}

    {% endblock html_head %}
</head>

<body>
    {% block html_body %}
    {% endblock html_body %}

    {% block scripts %}
        {% if STATICS_ENABLE_RESOURCE_ANGULARJS or config.STATICS_ENABLE_RESOURCE_ANGULARJS %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP_EDITABLE or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP_EDITABLE %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP_GROWL or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP_GROWL %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_BOOTSTRAP_TYPEAHEAD or config.STATICS_ENABLE_RESOURCE_BOOTSTRAP_TYPEAHEAD %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_CSSHAKE or config.STATICS_ENABLE_RESOURCE_CSSHAKE %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_D3 or config.STATICS_ENABLE_RESOURCE_D3 %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_DATATABLES or config.STATICS_ENABLE_RESOURCE_DATATABLES %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_FONT_AWESOME or config.STATICS_ENABLE_RESOURCE_FONT_AWESOME %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_JQUERY or config.STATICS_ENABLE_RESOURCE_JQUERY %}
        {% endif %}

        {% if STATICS_ENABLE_RESOURCE_WHHG_FONT or config.STATICS_ENABLE_RESOURCE_WHHG_FONT %}
        {% endif %}
    {% endblock scripts %}
</body>
</html>
{% endblock html_html %}
