{% block html_html %}
<!DOCTYPE html>
<html>

<head lang="en">
    {% block html_head %}

    {% block html_meta %}
    <meta charset="UTF-8">
    {% endblock html_meta %}

    <title>{% block title %}{% endblock title %}</title>

    {% block styles %}
        {% for variable in g.flask_statics_helper_variables %}
            {% if session.get(variable) or config.get(variable) %}
                {% for resource in g.flask_statics_helper_resources.get(variable) %}
                    <link rel="stylesheet" href="{{ resource.css }} }}">
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endblock styles %}

    {% endblock html_head %}
</head>

<body>
    {% block html_body %}
    {% endblock html_body %}

    {% block scripts %}
        {% for variable in g.flask_statics_helper_variables %}
            {% if session.get(variable) or config.get(variable) %}
                {% for resource in g.flask_statics_helper_resources.get(variable) %}
                    <script src="{{ resource.js }}"></script>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endblock scripts %}
</body>
</html>
{% endblock html_html %}
