{% block html_html %}
<!DOCTYPE html>
<html>

<head lang="en">
    {% block html_head %}

    {% block html_meta %}
    <meta charset="UTF-8">
    {% endblock html_meta %}

    <title>{% block title %}{% endblock title %}</title>

    {% block styles %}
        {% for variable in flask_statics_helper_all_variables %}
            {% if session.get(variable) or config.get(variable) %}
                {% for resource in flask_statics_helper_all_resources.get(variable).css %}
                    <link rel="stylesheet" href="/static/flask_statics_helper/{{ resource }} }}">
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endblock styles %}

    {% endblock html_head %}
</head>

<body>
    {% block html_body %}
    {% endblock html_body %}

    {% block scripts %}
        {% for variable in flask_statics_helper_all_variables %}
            {% if session.get(variable) or config.get(variable) %}
                {% for resource in flask_statics_helper_all_resources.get(variable).js %}
                    <script src="/static/flask_statics_helper/{{ resource }}"></script>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endblock scripts %}
</body>
</html>
{% endblock html_html %}
